---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Página de inicio';
---

<BaseLayout pageTitle="Inico - Astro">
  <h2>Mi impresionante subtítulo del blog</h2>
</BaseLayout>
